<div class="container">

  <div class="row">
    <div class="col-12 col-md-8 bg-white my-3 shadow mx-auto">
      <h1 class="text-center">Reports</h1>
      <hr>
      <%= form_for @report, url: reports_path, method: :post do |f| %>

        <div class="form-group">
          <%= f.label :Day %>
          <%= f.date_field :day, discard_year: true %>

          <small class="text-danger">
            <%= @report.errors.messages[:day].first%>
          </small>
        </div>

        <div class="form-group">
          <%= f.label :Hour %>
          <%= f.time_select :time %>
        </div>

        <div class="form-group">
          <%= f.label :Prevalence %>
          <%= f.select :prevalence, options_for_select(@prevalence) %>
        </div>

        <div class="form-group">
          <%= f.label :Email %>
          <%= f.email_field :email %>

          <small class="text-danger">
            <%= @report.errors.messages[:email].first%>
          </small>
        </div>

        <%= f.submit :Create, class: 'btn btn-primary btn-block mb-2' %>
      <% end %>
    </div>
  </div>


</div>