<div class="container">
  <h1>Reports</h1>
  <%= form_for @report, url: reports_path, method: :post do |f| %>

<!--    <div class="form-group">-->
      <%#= f.label :Day %>
      <%#= f.select :day, options_for_select(@days) %>
<!--    </div>-->

    <div class="form-group">
      <%= f.label :Day %>
      <%= f.date_field :day, discard_year: true %>

      <small class="text-danger">
        <%= @report.errors.messages[:day].first%>
      </small>
    </div>

    <div class="form-group">
      <%= f.label :Hour %>
      <%= f.time_select :time %>
    </div>

    <div class="form-group">
      <%= f.label :Prevalence %>
      <%= f.select :prevalence, options_for_select(@prevalence) %>
    </div>

    <div class="form-group">
      <%= f.label :Email %>
      <%= f.email_field :email %>

      <small class="text-danger">
        <%= @report.errors.messages[:email].first%>
      </small>
    </div>

    <%= f.submit :Create %>
  <% end %>
</div>