<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
  <%= link_to (image_tag 'icon.png', alt: 'Icon', size: '40'), '#', class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <% if logged_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'My pizzas', my_pizzas_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Pizza', pizza_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav mx-2">
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" >
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu" >
            <%= link_to 'Profile', edit_user_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'logout', logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    <% else %>
      <!--        este ul es para mantener el formato no borrar-->
      <ul class="navbar-nav mr-auto "></ul>
      <!--        end -->
      <ul class="navbar-nav mx-2">
        <li class="nav-item">
          <%= link_to 'Register', new_user_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>

</nav>
